.header {
  display: flex;
  border-bottom: 1px solid;
  border-color: rgb(60, 46, 155);
  justify-content: space-between;
  height: 80px;
  background-color: rgb(250, 250, 250);
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  position: absolute;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  border-bottom-right-radius: 20px;
}
.header h3 {
  font-size: 40px;
  color: rgb(92, 89, 226);
  cursor: pointer;
}
.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  cursor: pointer;
}
